streamlit
requests
spacy==3.4.4
thinc==8.1.9
numpy==1.23.5
python-dotenv
spacy-lookups-data
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
